.container-cabecalho{
    display: flex;
    flex-direction: column;
}

.container-register-view{
    background-color: #F7FAFC;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0px auto;
    min-height: 100%;

}

.container-title-regiter-view{

    margin-left: 1%;
    color: #2A4365;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    font-family: 'Montserrat', sans-serif;
}

.button-cadastrar{

    color: #253D86;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1%;

}
.table-view{
    margin: auto;
    margin-top: 2%;
    width: 95%;
}

.table-view tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

.cabecalho-view{
    color: #2A4365;
    font-family: 'Quicksand';
}

.cabecalho-view-nome{
    width: 90%;
    text-align: left;
}

.dados-nome{
    color: #2270E4;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 0.15px;
    cursor: pointer;
}

.cabecalho-view-pontos{
    color: #7D90B2;
    text-align: center;
    font-size: 24px;
}

.dados-status-tam{
    text-align: center;
}
.dados-status{
    background: #0A65FF;
    color: white;
    text-align: center;
    border-radius: 38px;
    border: 7px solid #0a65ff;
    font-size: 12px;
}




.update-img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.texto-cadastrar-celular{
    display: none;
}
.texto-cadastrar{
    display: block;
    margin-top: 10px;
}

.pagina-qtd{
    margin-top: 20px;
    margin-left: 2%;
    width: 3%;
}
.pagina-num{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}




@media screen and (max-width: 1040px){
    .container-register-view{
        width: 90%;
        border-radius: 5px;
    }
    .container-title-regiter-view{

    font-size: 23px;
    }

    .texto-cadastrar{
        display: none;
    }
    .texto-cadastrar-celular{
        display: block;
        font-weight: bold;
    }
    .button-cadastrar{
        height: 40%;
        width: 11%;

    }
    .cabecalho-view-pontos{
        display: none;
    }


}